:root {
	--main-color: rgb(50, 50, 50);
	--accent-color: rgb(240, 150, 60);
	--accent-color-transparent: rgba(240, 150, 60, 0.7);
	--text-color: rgb(240, 240, 240);
	--text-color-reverse: rgb(15, 15, 15);
}

* {
	box-sizing: border-box;
	font-family: sans-serif;
	text-align: center;
}

body {
	margin: 0px;
	padding: 0px;
}

.content {
	width: 75%;
	margin-left: 50%;
	transform: translateX(-50%);
}
