:root {
	--main-color: rgb(50, 50, 50);
	--accent-color: rgb(240, 150, 60);
	--accent-color-transparent: rgba(240, 150, 60, 0.7);
	--text-color: rgb(240, 240, 240);
	--text-color-transparent: rgba(240, 240, 240, 0.7);
	--text-color-reverse: rgb(15, 15, 15);
}

.top-nav {
	background-color: var(--main-color);
	position: fixed;
	width: 100%;
	top: 0px;
	cursor: default;
	color: var(--text-color);
	z-index: 10;
	transition: background-color 400ms, box-shadow 400ms;
	box-shadow: 0px 1px 10px var(--main-color);
}

.nav-at-top {
	background-color: transparent;
	color: var(--text-color-reverse);
	box-shadow: none;
	font-weight: bold;;
}

.top-nav .title-container {
	display: inline;
	cursor: pointer;
	padding: 15px;
}

.top-nav .title-container .nav-title {
	display: inline;
	font-family: 'Ropa Sans';
	margin-right: 0px;
	transition: margin-right 400ms, color 400ms;
}

.top-nav .title-container:hover .nav-title {
	color: var(--accent-color);
}

.top-nav .title-container:active .nav-title {
	color: var(--accent-color-transparent);
}

.nav-at-top .title-container:hover .nav-title {
	color: var(--text-color);
}

.nav-at-top .title-container:active .nav-title {
	color: var(--text-color-transparent);
}

.top-nav .title-container .neater-logo {
	opacity: 1;
	position: absolute;
	transform: translate(-80%, -10%) rotate(10deg);
	rotate: 100px;
	width: 80px;
	height: 80px;
	transition: opacity 400ms;
}

.nav-at-top .title-container .nav-title {
	margin-right: 80px;
}

.nav-at-top .title-container .neater-logo {
	opacity: 0;
}

.top-nav .top-nav-items {
	margin: 0px;
	display: inline-block;
}

.top-nav .top-nav-items li {
	display: inline-block;
	cursor: pointer;
	font-family: 'Exo 2', sans-serif;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 15px;
	padding-bottom: 15px;
	transition: color 400ms;
}

.top-nav .top-nav-items li:hover {
	color: var(--accent-color);
}

.top-nav .top-nav-items li:active {
	color: var(--accent-color-transparent);
}

.nav-at-top .top-nav-items li:hover {
	color: var(--text-color);
}

.nav-at-top .top-nav-items li:active {
	color: var(--text-color-transparent);
}

@media only screen and (max-width: 850px) {
	.top-nav .title-container {
		width: 100%;
	}

	.top-nav .title-container .nav-title {
		margin-right: 0px;
	}

	.top-nav .top-nav-items {
		display: block;
		padding-left: 0px;
	}

	.top-nav .top-nav-items li {
		width: 100%;
	}
}
